.custobar-admin-table {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.custobar-admin-table__item--heading {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}


.custobar-admin-table__item {
  padding: 20px;
}

.custobar-admin-table__body {
  padding: 20px;
  display: grid;
}