#custobar-settings button {

    font-size:18px;
    padding: 16px;

}

#custobar-export-wrap {
  margin: 25px 0 45px;
}

#custobar-export-wrap table {

}

#custobar-export-wrap th,
#custobar-export-wrap td {

}

/*
 *
 * API Test
 *
 */
#custobar-api-connection-test-wrap {
  margin:25px 0 45px;
}
#custobar-api-connection-test-wrap hr {
  margin-bottom:45px;
}
